@font-face {
    font-family: RobotoCondensed-Regular;
    src: url('../../assets/fonts/roboto/RobotoCondensed-Regular.ttf');
  }
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: RobotoCondensed-Regular;
}
.nav-principal {
    background-color: #dedfe1;
}
.nav-ul-principal {
    list-style-type: none;
    padding: 30px 47px;
    margin: 0;
    text-align: right;
    font-size: 20px;
}
.nav-ul-principal > li {
    margin-left: 15px;
    display: inline;
}
.nav-ul-principal > li > a {
    text-decoration: none;
    color: #2c3135;
}
.nav-ul-principal > :first-child {
    margin-left: 0;
    float: left;
}
.principal-container {
    background-image: url('../../assets/img/background-principal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.principal-container > h1 {
    margin: 0;
}